/* RESET  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* COMMON */
body{
    background-color: #000000;
    color: white;
}
.header-item ul{
    list-style: none;
    display: flex;
}
/* HEADER */
header{
    height: 40px;
    position: relative;
}
.header-item {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
}
.header-item ul li{
    background-color: #4a4a4a;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 2px;
}
.header-item ul li span{
    margin: 0 5px;
}
/* /HEADER */

/* MAIN  */
main {
    position: relative;
    width: calc(100vw - 100px);
    height: 100vh;
    margin: 0 auto;
    overflow: auto;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    padding: 20px;
    width: 80%;
}
.container-content{
    position: relative;
}
.text {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(105, 116, 125, 0.7);
    padding: 5px;
}
/* FOOTER  */
footer{
    height: 60px;
    background-color:#222222 ;
}